// Workflow parameters
params.gff_annotation = "maker_annotation.gff"
params.genome = "genome.fa"
params.outdir = "results"
params.codon_table = 1
params.records_per_file = 1000
params.blast_db_fasta = '/projects/references/databases/uniprot/2019-11/uniprot_sprot.fasta'
params.blast_evalue = '1e-6'
params.interproscan_db = ''
params.id_prefix = 'GATE'
params.protein_existence = '5'

// Nextflow parameters
resume = true
workDir = "/active/$USER/"
conda.cacheDir = "$HOME/.nextflow/conda"
singularity.cacheDir = "$HOME/.nextflow/singularity"
