params.maker_evidence_gff = "maker_annotation.gff"
params.genome = "genome.fa"
params.outdir = "results"
params.gff_gene_model_filter_options = '-c -r -d 500 -a 0.3'
params.codon_table = 1
params.test_size = 100
params.flank_region_size = 500
params.augustus_training_species = 'galerucella_calmariensis'  // e.g. 'asecodes_parviclava'
params.maker_species_publishdir = '/projects/references/augustus/config/species/' // e.g. '/projects/references/augustus/config/species/'
